.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}
.mapArea {
  flex: 1;
  height: 100%;
  width: 100%;
  min-height: inherit;
}
.contentArea {
  flex: 2;
  height: 100%;
  width: 100%;
  min-height: inherit;
}
.sidebarArea {
  flex: 1;
  height: 100%;
  width: 100%;
  min-height: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 55vw;
  max-width: 55vw;
  height: 100%;
  min-height: inherit;
}
